h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  margin-top: 16px;
}

ul {
  margin-bottom: 4px;
}

#home-icon {
  margin-right: 3px;
}

.title-section {
  border-width: 3px;
}

.p-heading {
  margin-top:0px;
}

.news-heading a {
  color: var(--text-color);
  text-decoration: none;
}

.news-heading a:visited {
  color: var(--text-color);
}

.news-heading a:hover {
  text-decoration: underline;
}
